body{
    background-color: #7d7d7d;
    margin: 0px;
}

/* NAVBAR */
#navbar {
    background-color: #000; 
    color: #fff;
    height: 60px;   
    padding: 0 20px; 
}

#navbar h2, #navbar ul, #navbar-list, #navbar nav {
    display: inline-block;
}

#navbar h2{
    margin: 0;
    line-height: 60px;
    margin-left: 5px;
}

#navbar nav {
    float: right;
}

#navbar ul{
    margin-top: 10px;
}

#navbar li{
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: #FFF;
}

#navbar-list li a:hover {
    border-bottom: 1px solid #FFF;
}
/* FIM NAVBAR */

/* BANNER */
.banner{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 70px;
    margin-bottom: 90px;
}

.slides{
    width: 100%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slides{
    width: 25%;
    position: relative;
}

.slides img{
    width: 800px;
}

.navegar-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{ 
    margin-left: 0;
}

#radio2:checked ~ .first{ 
    margin-left: -400%;
}

#radio3:checked ~ .first{ 
    margin-left: -800%;
}

#radio4:checked ~ .first{ 
    margin-left: -1200%;
}

#radio5:checked ~ .first{ 
    margin-left: -1600%;
}

#radio6:checked ~ .first{ 
    margin-left: -2000%;
}

.navegar div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navegar{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegar div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegar .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navegar .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navegar .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~ .navegar .auto-btn4{
    background-color: #fff;
}

#radio5:checked ~ .navegar .auto-btn5{
    background-color: #fff;
}

#radio6:checked ~ .navegar .auto-btn6{
    background-color: #fff;
}

/* FIM BANNER */

#cardapio{
    width: 100%;
    height: 60vh;
}

#cardapio h3{
    text-align: center;
    padding-top: 30px; 
    font-size: 30px;
}

#cardapio-tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#pedido{
    width: 100%;
    height: 70vh;
}

#pedido h3{
    text-align: center;
    padding-top: 10px; 
    font-size: 20px;
}
form h4{
    text-align: center;
    padding-top: 20px;  
    font-size: 20px;
}

#pedido-tabela{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#sobre{
    width: 100%;
    height: 80vh;
}

#sobre h3{
    text-align: center;
    padding-top: 10px; 
    font-size: 30px;
}

#sobre p{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 30px;
    padding: 0 25px; 
}

#contato{
    width: 100%;
   height: 100vh;
   padding-top: 100px;
}

#contato h3{
    text-align: center;
    padding-top: 10px; 
    font-size: 30px;
}

#contato h4{
    text-align: center;
    padding-top: 10px; 
    font-size: 25px;
}

#telefone{
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#telefone img{
    max-width:50px;
    width: auto;
    height: auto;
}

#telefone p{
    padding-left: 20px;
    font-size: 20px;
}

#whatsapp{
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whatsapp img{
    max-width:60px;
    width: auto;
    height: auto;
}

#whatsapp p{
    padding-left: 20px;
    font-size: 20px;
}

#shop{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 800px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    background-color: red;
}